{% extends 'base.html' %}
​
{% block title %}
 {% if post %} Редактировать запись {% else %} Добавить запись {% endif %}
{% endblock %}
​
{% block content %}   
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              {% if post %} Редактирование поста  {% else %}  Создание нового поста {% endif %}            
            </div>
            <div class="form-group row my-1 p-1">         
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-group row my-1 p-1"> 
              {% include 'posts/includes/error.html' %}
              {% for field in form %}
                {% include 'posts/includes/fields.html' %}
              {% endfor %}
            </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary"> 
                    {% if post %} Обновить {% else %}  Сохранить {% endif %}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
